@font-face{
    src: url(Font/CAMPUS\ PERSONAL\ USE.ttf);
    font-family: Campus;
}
@font-face {
    font-family: Uniform;
    src: url(Font/UniformBold.otf)
}
@font-face{
    font-family: RocksDeath;
    src: url(Font/RocksDeath.ttf)
}
@font-face {
    font-family:HardRock;
    src: url(Font/HARD_ROCK.ttf);
}
.Universal{
    padding-left: 20px;
    padding-right: 20px;
}
.background
{
    background-image:url(/Images/Background.jpg);
    background-size: contain;
    background-repeat:repeat-y;
}
header{
    font: size 10px;
    font-family: CAMPUS;
    color:#ffffff;
    height: 1.5cm;
    width:100%;
    background-size: cover;
    background-color:#000000;
    text-align: center;
}
.HeadUnderline{
    padding: 10px;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color:#CF0A0A;
    text-decoration-thickness: 2px;
}
.SubHeading{
    font-weight: bolder;
    font-size: 50px;
}
.Rock{
    font-family:HardRock;
    background-color:#CF0A0A;
    width: 100%;
    border:solid;
    color: #EEEEEE;
    border-width: 5px;
    border-color:#EEEEEE;
    padding-left: 20px;
    background-size: cover;
}
.card-img-top {
    border: #CF0A0A solid 3px;
    border-radius: 2vh;
    align-items: center;
}
.btn-primary{
    color: #EEEEEE;
    background-color: #CF0A0A;
    border-color: #CF0A0A;
}
.card-title{
    color: #CF0A0A;
}
.Container1{
    padding-right: 25%;
}
.Container2{
    padding-left:25%;

}
.paragraph{
    color: #EEEEEE;
}
.RockSubHeading{
    font-size:3.5vh;
    font-weight: bold;
    text-align: left;
    color: #CF0A0A;
    text-decoration-line: underline;
}
.card{
    background-color: #00000000;
    border:hidden;
    padding: 10px;
}
.Box1{
    background-image: url("/Images/Queen_band2.jpg");
    box-shadow: #CF0A0A 20px 20px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border:solid;
    overflow:hidden;
    border-width: 8px;
    border-end-end-radius: 7vh;
    border-start-end-radius: 7vh;
    border-color: #EEEEEE;
    align-items: left;
    overflow-wrap: normal;
    width:auto;
    position: static;
    height: auto;

}
ol[id="RockList"]>li{
    color: #5F9DF7;
    font-size:2vh;
    text-decoration-line: underline;
}
.Box2{
    border-start-start-radius:2vh;
    border-end-start-radius: 2vh;
    padding: 10px;
    border:solid;
    overflow:hidden;
    border-width: 2px;
    border-color: #000000;
    align-items: left;
    overflow-wrap: normal;
    width:auto;
    position: static;
    height: auto;
}

