@font-face{
    src: url(Font/CAMPUS\ PERSONAL\ USE.ttf);
    font-family: Campus;
}
@font-face {
    font-family: Uniform;
    src: url(Font/UniformBold.otf)
}
.Universal{
    padding-left: 20px;
    padding-right: 20px;
}
.background
{
    background-color: bisque;
    background-size: auto;
}
header{
    font: size 10px;
    font-family: CAMPUS;
    color:#ffffff;
    height: 1.5cm;
    width:100vw;
    background-size: cover;
    background-color:#000000;
    text-align: center;
}
.HeadUnderline{
    padding: 10px;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color:#CF0A0A;
    text-decoration-thickness: 2px;
}
.SubHeading{
    font-weight: bolder;
    font-size: 50px;
}
.Rock{
    background-color:#EEEEEE;
    width: 100vw;
    border:solid;
    border-width: 5px;
    border-color:#CF0A0A;
    padding-left: 20px;
    background-size: cover;
}
.Image{
    padding: 5px;
    height:30%;
    width: 30%;
}
.Container1{
    padding-right: 25%;
}
.Container2{
    padding-left:25%;
}

.paragraph{
    float: left;
    color: #EEEEEE;
}
.RockSubHeading{
    font-size:5vh;
    font-weight: bold;
    text-align: left;
    color: #CF0A0A;
    text-decoration-line: underline;
}
.Box1{
    background-image: url("/Images/Queen_band2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border:solid;
    overflow:hidden;
    border-width: 2px;
    border-end-end-radius: 7vh;
    border-start-end-radius: 7vh;
    border-color: #EEEEEE;
    align-items: left;
    overflow-wrap: normal;
    width:auto;
    position: static;
    height: auto;

}
ol[id="RockList"]>li{
    color: #5F9DF7;
    font-size:2.8vh;
    text-decoration-line: underline;
}
.Box2{
    border-start-start-radius:2vh;
    border-end-start-radius: 2vh;
    padding: 10px;
    border:solid;
    overflow:hidden;
    border-width: 2px;
    border-color: #000000;
    align-items: left;
    overflow-wrap: normal;
    width:auto;
    position: static;
    height: auto;
}

